*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Arial";
}
.main-container{
    /* min-width: 970px; */
}
header{
    width: 100%;
    background-color: #f5f9fb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
.header-logo{
    background-image: url(Assets/qatouch-logo-new.webp);
    width: 20%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.nav-items {
    /* width: 70%; */
    display: flex;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
    /* width: 55%; */
    padding: 1em;
    align-items: baseline;
    font-size: 0.8rem;
    cursor: pointer;
}
.nav-btn{
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 35%; */
    /* margin: 0 1%; */
}
/* .nav-btn button{ */
    /* padding: 1em; */
    /* border: 2px solid #6161ff; */
    /* cursor: pointer; */
}
/* .nav-btn button:nth-child(1){ */
    /* border-radius: 30px; */
    /* width: 0%; */
    /* background-color: #f5f9fb ; */
}
.nav-btn button:nth-child(2){
    border-radius: 20px;
    color: white;
    background-color: #6161ff;
}
/* .nav-btn button:nth-child(3){
    border: 0;
    padding: 0;
    background-color: #f5f9fb;  
} */
 .nav-btn1{
    padding: 13px;
    border-radius: 50px;
    border: 2px solid #6161ff;
    background-color: #f5f9fb;
    font-size: 1.1em;
    font-weight: 600px;
 }
 .nav-btn1:hover{
    color: #6161ff;
 }
 .nav-btn2{
    border: none;
    background-color: #6161ff;
    padding: 15px;
    color: white;
    border-radius: 50px;
 }
.nav-btn3{
    border: none;
    background-color: #f5f9fb;

}
.menu-line{
    display: none;
}
#closer{
    display: none;
}

/* .dropdown img{
    width: 25%;
} */
/* .dropdown{
    display: flex;
} */
/* .nav-btn button:nth-child(1):hover{
    color: rgba(0, 0, 255, 0.842);
    border: 2px solid rgba(0, 0, 255, 0.842) ;
} */


/* .nav-list li:nth-child(1):hover{
    width: 15%;
    height:2px;
    background-color: blue;
} */
.feature-img{
    width: 16%;
    height: 3%;
    font-size: 30px;
}

.flex-feature{
    /* display: flex; */
}
/* .value{
    display: flex;
} */
.feature-nav {
    position: relative;
    cursor: pointer;
}

.feature-nav::after{
   content: "";
   width: 0;
   height: 2px;
   position: absolute;
   background-color: #6161ff;
   top: 20px;
   left: 0;
   
}

.feature-nav:hover::after {
    width: 100%;
    transition: 0.5s;
    transition-timing-function: linear;
}

/* .feature-nav:hover .main-container>.description-feature{
    display: block;
} */

/* ul li:hover .description-feature{
    display: block;
} */
.description-feature{
    width: 90%;
    /* display: flex;
    justify-content: space-evenly; */
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}
body:has(.list-1:hover) .description-feature{
    display: block;
}
.feature-sub-cont{
    display: flex;
    justify-content: space-between;
}
.feature-1,.feature-2,.feature-3{
    width: 20%;
    margin: 0 3%;
   
    
}
.feature-1>h4{
    color: #00af82;
    margin-top: 10%;
}
.feature-2>h4{
    color: #00af82;
    margin-top: 10%;
}
.feature-3>h4{
    color: #00af82;
    margin-top: 10%;
}
.feature-4>h4{
    color: #00af82;
    margin-top: 10%;
}
.flex-feature{
    display: flex;
    margin: 10% 0;
    gap: 6%;
}
.flex-feature p{
    font-size: 0.8em;
    margin: 2% 0;

}
.flex-feature h4{
    color: rgb(70, 70, 204);
}
.flex-feature>i{
    width: 20%;
}
.feature-4{
    background-color: #fafaf9;
    width: 25%;
    padding: 0 30px;
}
/* li:hover .nav-btn1 {
    background-color: red;
} */
.integration-sub-cont{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* display: none; */
}
.integration-container{
    display: none;
}
body:has(.list-2:hover) .integration-container{
    display: block;
}
.youtube-video iframe{
    width: 100%;
    height: 100%;
    margin-top: 20%;
}
.integration>h4{
    color: #00af82;
}
.integration{
    width: 20%;
}
.resource-sub-cont{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resource-img{
    width: 26%;
    height: 3%;
    border-radius: 5px;
}
.resource{
    width: 20%;
}
.resource-gap h4{
    margin: 10% 0;
}
.resource i{
    font-size: 30px;
}
.head-color{
    color: #00af82;
}
.resource-container{
    display: none;
}
body:has(.list-3:hover) .resource-container{
    display: block;
}

/* divakar code */

.sub-contain-1{
    width: 100%;
}
.content-1{
    width: 100%;
}
h4{
    color: #00af82;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4em 0 0;
}
.content-header{
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    /* text-align: center; */
    /* font-size: 50px; */
    /* font-family: Arial, Helvetica, sans-serif; */
}
.content-1 p{
    font-size: 16px;
    text-align: center;
    font-family: "Inter", sans-serif;
   
}
.content-1-img{
    width: 100%;    
}
.content-1-img img{
    width: 50%; 
    margin: 2% 25%;
}
.content-1 button{
    background-color: #6161ff;
    color: white;
    height: 44px;
    width: 200px;
    border-radius: 20px; 
    border: none;   
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

span{
    padding: 5px 0px 5px 18px ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    Font-weight: 800;  
    
}
.content-1-btn{
    text-align: center;
}
.content-2-img img{
    width: 100%; 
    
}
.content-2-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px 0px;
}
.content-3-main{
    background-color: #f6fff8;
    margin:0px;
    width: 100%;
    padding: 50px 0px;
    /* margin-top: 70px; */
   
}
.content-3{
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    margin:  auto;  
    background-color: white;    
}
.div-1{
    display: flex;
}
.content-3 h2{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    font-family: "Inter", Arial;

}
.para-content-3 {
    width: 50%;    
}
.content-3-line {
    margin-left: 40px;
    font-size: larger;
    border-bottom: 2px solid black;
    font-family: "Inter", Arial;
    
    
    
}
.content-3-line span{
    padding: 0px;
}
.content-3-line p{
    border-left: 3px solid green;
    margin: 5px 0px 10px 5px;
}
.content-3-line a{
    color: black;
    text-decoration: none;
    font-size: larger;
    
    
}
.content-3-link{
    list-style: none;  
      
}
.content-3-link a{
    color:darkgrey;
    text-decoration: none;
    
}
.content-3-link li{
    border-bottom: 2px solid darkgray;
    line-height: 40px;

}
.content-3-link span{
    padding: 0px;
}
.content-3-img{
    width: 45%;
}
.content-4{
    width: 100%;
    display: flex;
}
.para-content-4{
    width: 50%;
    padding: 150px 60px 0px 80px;
    font-family: "Inter", Arial;
}
.para-content-4 h2{
    font-weight: 700;
    font-size: 34px;    
}
.para-content-4 p{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 300;
    
}
.content-4-img{
    width: 50%;
}
.para-content-4 .points{
    border-left: 5px solid green;   
}
.content-4-btn{
    background-color: #6161ff;
    color: white;
    height: 46px;
    width: 200px;
    border-radius: 30px; 
    border: none;   
    cursor: pointer; 
}
.content-4-btn:hover{
    background-color: #7575ff;
}
.content-5{
    background-color: #f1fef9;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.box{
    margin: 60px 0px;
}
.content-5-box1{
    width: 20%;
    padding: 40px;
    /* box-shadow: 1px 1px 3px; */
    box-shadow:1px 1px 8px;
    font-family: "Inter", Arial;

}
.content-5-box1 h2{
    font-weight: 700;
    font-size: 34px;
}
.content-5-btn{
    background-color: #6161ff;
    color: white;
    height: 46px;
    width: 90%;
    border-radius: 30px; 
    border: none;   
    cursor: pointer; 
}
.content-5-btn:hover{
    background-color: #7575ff;
}
.content-5-box2{
    width: 25%;
    padding: 30px;
    background-color: white;
    /* box-shadow: 1px 1px 8px; */
    border-radius: 15px;
    font-family: "Inter", Arial;
}
.box-2-point{
    font-size: 16px;
    font-weight: bold;

}
.content-5-box3{
    width: 25%;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    font-family: "Inter", Arial;
}
.box-3-point{
    font-size: 16px;
    font-weight: bold;
}
.box a{
    color:hsl(173, 50%, 59%);
    
}
.box i {
    border-radius: 45%;
    color:white;
    background-color: hsl(173, 50%, 59%);

}
.long-arrow{
    display: none;
}
.long-arrow-1{
    display: none;
}


/* vignesh */

*{
    margin: 0%;
   
   }
   body{
       margin: 0%;
   }
   
   .main-contaner{
       margin: 0%;
       font-family: Arial, Helvetica, sans-serif;
   }
   .sub-contaner6{
       width: 100%;
       display: flex;
       /* justify-content: space-between; */
       justify-content: center;
       background-color:#5dc7a1;
       /* margin-top: 50px; */
       /* height: 80vh; */
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       /* margin-top: 30px; */
       /* margin: 50px auto; */
       
   }
   .content6{
       width: 40%;
       /* margin-left: 80px;
       margin-top: 20px; */
       /* margin: 80px auto; */
       margin-bottom: 150px;
       
   }
   .content6-img{
       width: 40%;
       /* margin-left: 60px; */
       margin-top: 20px;
       display: flex;
       justify-content: center;
       height: 70%;
   }
   .content6-img img{
       width: 60%;
       margin-left: 50px;
   }
   .content6-para span{
       font-size: 21px;
       /* width: 50%; */
       /* margin-top: 550px; */
   }
   .content6-para p{
      /* margin-bottom: 30px; */
      
      margin-top: 20px;
   }
   .info{
       margin: 0%;
       margin-top: 50px;
       
       /* margin-top: 100px; */
   
       
   }
   .name{
       font-weight: bolder;
       margin-bottom: 16px;
       
   }
   .name {
      
   }
   .sub-contaner7{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0px;
       margin-top: 20px;
   }
   .content7-img{
       /* background-image: url(Assets/map.webp); */
       width: 40%;
       margin: 0%;
   
   }
   .content7-img img{
       width:  100%;
       margin-top: 30px;
       
   }
   .content7-para{
       width: 50%;
       margin-left: 40px;
       font-family: Arial, Helvetica, sans-serif;
   }
   .content7-para h1{
       font-size: 37px;
       margin: 20px auto;
       width: 85%;
           
   }
   .overall-teams{
       display:grid;
       grid-template-columns: repeat(2,2fr);
       /* margin-left: 20px; */
       /* margin: 30px; */
       margin-top: 70px;
       margin-left: 50px;
       
   }
   .content7-para span{
       color: #5dc7a1;
   }
   .line{
       width: 2%;
       height: 100%;
       /* border: 2px solid; */
       display: grid;
       grid-template-columns: repeat(2,2fr);
       background-image:linear-gradient(to bottom,#01c0da,#01e1a4) ;
       border-radius: 20px;
   }
   
   .number-one,.number-two,.number-three,.number-four{
       margin-left: 40px;
       width: 100%;
       
   }
   .teams-three,.teams-four{
       margin-top:60px ;
   }
   .number-one,.number-two{
      
   }
   .line h1,p{
       margin: 0%;
   
       
   }
   
   .number-four p{
       width: 150%;
   }
   .sub-contaner8{
       width: 100%;
     
         /* margin: 30px auto; */
         font-family: Arial, Helvetica, sans-serif;
      margin-top: 60px;
      background-color: #f1fef9;
      
   }
   .content8{
       margin-top: 80px;
       width: 100%;
       text-align: center;
       /* margin: 100px; */
       padding-top: 30px;
       /* display: flex; */
       
   }
   .content8-one{
       display: flex;
       width: 100%;
       justify-content: center;
       align-items: center;
       /* padding: 20px; */
   }
   .one h1{
       margin-top: 70px;
       font-size: 36px;
       
   }
   
   .content8 h1,p{
           width: 100%;
          
   
           /* margin-top: 50px; */
           
   }
   .content8 h1{
       font-size: 36px;
       margin-bottom: 10px;
   }
   .content8 p{
       font-size: 18px;
       width: 100%;
   }
   .content8-questions{
       width: 80%;
       margin-top: 30px;
       /* display: flex; */
       
   }
   .questions{
       width: 100%;
       padding: 20px;
       border-bottom:0.1px solid rgb(199, 197, 197) ;
   
       /* border-radius: 60%; */
       display: flex;
   
       justify-content: space-between;
       
   }
   .questions i{
       border-radius:50% ;
       height: 50%;
       border: 1px solid;
      
       padding: 5px;
    
       text-align: center;
   
   }
   .questions a{
       text-decoration: none;
       color: black;
   }
   .questions-eigth{
   
       /* margin-top: 50px; */
       margin-bottom: 100px;
   }
   .sub-contaner9{
       width: 100%;
       /* text-align: center; */
       margin-top: 50px;
   }
   .content9{
       width: 100%;
   }
   .content9 h1{
       width: 40%;
       margin:20px auto;
       text-align: center;
       
   }
   .content9 p{
       width: 30%;
       text-align: center;
       margin: auto;
   }
   .content9-btn{
       text-align: center;
   }
   
   .content9-btn button{
       
       margin:50px auto;
       border-radius: 30px;
       padding: 10px;
       background-image:linear-gradient(to right,#01c0da,#01e1a4) ;
       border: none;
       color: white;
   
   }
   .content9-btn i{
           border-radius: 60%;
           background-color: #38d9b3;
           padding: 5px;
           margin-left: 10px;
   }
   footer{
     width: 100%;
     background-color: rgb(43, 40, 40);
     color:white ;
     /* margin: 60px auto ; */
     
     
     /* margin: 150px auto; */
   
   }
   .contaner10-one{
       width: 30%;
       
   }
   .contaner10-one img{ 
       width: 80%;
       margin-top: 60px;
       margin-left: 60px;
   }
   .para-one{
       margin-top: 40px;
       margin-left: 60px;
   }
   .para-two{
       margin-top: 30px;
       margin-left: 60px;
   }
   .para-three{
       margin-top: 10px;
       margin-left: 60px;
   }
   .para-four{
       margin-top: 10px;
       margin-left: 60px;
   }
   .para-five{
       margin-top: 30px;
       margin-left: 60px;
   }
   .contaner10-one p{
       width: 100%;
       /* margin-top: 30px; */
   
   }
   .contaner10-one hr{
       width: 100%;
       margin-top: 50px;
       margin-left: 60px;
   }
   .content9-icon {
       width: 90%;
       margin-left: 60px;
       margin-top: 25px;
       
   }
   .content9-icon img{
       width:9%;
       border-radius: 60%;
       /* border: 1px solid white; */
       background-color: #01e1a4;
       padding: 8px;
       margin-top: 0px;
       margin-left: 0px;
   
   }
   .contaner10-two{
     
   
       width: 70%;
       
       margin-left: 60px;
       margin-top: 60px;
   }
   .contaner10-ul-one{
       
       width: 100%;
       margin-left: 30px;
   }
   .contaner10-three-hello{
        width: 100%;  
       margin-top: 40px;
       margin-left: 70px;
       margin-right: 0px;
   }
   .contaner10-three-hello p{
       width: 100%;
       
   }
   
   .contaner10-ul-two{
       height: fit-content;
   }
   .content10-help{
       width: 150%;
   }
   
   
   .contaner10-ul-one li,span{
       list-style: none;
       width: 100%;
       margin: 10px;
       
       
   }
   .contaner10-ul-two li{
       list-style: none;
       width: 100%;
       margin: 10px;
   }
   .contaner10-three{
       width: 50%;
       margin-left: 200px;
   
   }
   .contaner10-three img{
       width: 10%;
       margin-left: 10px;
       margin-top: 20px;
   }
   .content10-img-3 {
       display: flex;
       gap: 20px;
   }
   .contaner10-img-1{
       display: flex;
       gap: 20px;
   }
   .contaner10-img-2{
       display: flex;
       gap: 20px;
       /* width: 70%; */
   }
   .contaner10-1{
       display: flex;
   }
   .contaner10-three{
   /* display: flex; */
   width: 100%;
    margin-top: 60px;
   margin-left: 10px; 
   
   }
   .contaner10-three span{
       margin-left:75px ;
   }
   
   .contaner10-three-news p{
       margin-top: 25px;
       width: 70%;
       margin-left: 10px;
   }
   .contaner10-three-news{
       margin-left: 70px;
       /* width: 50%; */
   }
   
   .contaner10-three-hello {
             
             width: 50%;
             /* display: flex; */
             /* flex-wrap: wrap; */
             /* margin-right:400px; */
   }
   .content10-help p{
       /* margin-right: 300px; */
       width: 100%;
   }
   .contaner10-three-hello p{
       margin-bottom: 20px;
       width: 100%;
      
   }
   .content10-form {
       width: 100%;
       margin-top:20px;
      
       
   }
   
   .content10-form input{
       border-radius: 30px;
       padding: 7px;
       display: flex;
       width: 50%;
       border: none;
   }
   .content10-form button{
       width: 25%;
       background-color: #01e1a4;
       border-radius: 20px;
       padding: 10px;
       margin-top: 20px;
       border: none;
       color: white;
   }
   
   .contaner6-three{
       display: flex;
   }
   .line-hr {
       width: 95%;
       text-align: center;
       margin: auto;
       margin-top: 20px;
   }
   .bottom-one{
       /* text-align: center; */
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        /* gap: 400px;    */
   }
   .bottom-one a{
       color: white;
   }
@media (max-width:475px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .sub-contain-1{
        width: 100%;
    }
    .content-1{
        width: 100%;
        text-align: center;
    }
    .nav-items{
        display: none;
    }
    h4{
        text-align: center;
        margin-top:100px;
    }
    h1{
        
        width: 50%;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        padding: 10px;

    }
    .content-1 p{
        text-align: center;
        width: 60%;
        margin: 10px auto;
    }
    .content-1 img{
        visibility: hidden;
        
    }
    .content-3{
        width: 70%; 
    }
    .content-3 h2{
        text-align: center;
        margin: auto;
        width: 80%;
    }
    .div-1{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    .para-content-3 {
        width: 80%;   
        margin: auto; 
    }
    .content-3-line{
        margin: auto;
    }
    .content-3-img{
        width: 80%;
        margin: auto;
    }
    .content-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .para-content-4{
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .para-content-4 p{
        padding: 20px 0px 20px 0px;

    }
    .content-5{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box{
        width: 60%;
        margin: 30px auto;
    }
    .box-2-point{
        margin: 0px 0px 15px 0px ;
    }
    .box-3-point{
        margin: 0px 0px 15px 0px ;
    }

    /* vignesh */
    .sub-contaner6{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content6{
        width: 60%;
        margin: 20px auto;
    }
    .content6 .info{
        width: 20%;
    }
    .content6-img{
        width: 100%;
        
    }
    .sub-contaner7{
        display: flex;
        flex-direction: column;
    }
    .content7-img{
        width: 80%;
    }
    .content7-para{
        width: 100%;
        
    }
    .content7-para h1{
        font-size: 27px;
        width: 70%;
    }
    .overall-teams{
        display: flex;
        flex-direction: column;
    }
    .teams-three,.teams-four{
        margin: 0px;
    }
    .teams-one,.teams-two,.teams-three,.teams-four{
        margin: 0px 0px 40px 0px;
    }
    .sub-contaner8{
        width: 100%;
    }
    .content8{
        margin: 20px 0px 0px 0px;
    } 
    .content8 h1{
        width: 100%;
        margin:10px 0px;
        padding: 0px;
    }
    .content8 p{
        padding:10px 0px;
        margin: 10px 0px 20px 0px;
        width: 100%;
    }
    .content8-questions{
        width: 70%;
        /* padding: 0px 10px; */
        margin: 0px 20px;
        
    }
    .questions-eigth {
        margin: 0px 0px 30px 0px;
    }
    .sub-contaner9{
        width: 100%;
        text-align: center;
    }
    .content9 h1{
        width: 70%;       
        
    }
    .content9 p{
        width: 70%;       
        
    }
    .sub-contaner10{
        width: 100%;
        /* margin: 0px 40px; */
    }
    .contaner10-1{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .contaner10-one{
        width: 50%;
    }
    .contaner10-two{
        width: 90%;
        margin: 20px 20px;
    }
    .contaner10-two span{
        padding: 0px;
    }
    .contaner10-ul-one{
        width: 40%;
    }
    .contaner10-three-hello{
        width: 50%;
        margin: 20px 22px;
    }
    .contaner10-three{
        width: 90%;
        text-align: left;
        margin: 10px 20px 10px 5px;


    }
    .contaner10-three span{
        margin: 20px 20px;
    }
    .contaner10-three-news{
        margin: 20px 20px;
    }
    .content10-form{
        margin: 20px 20px;
        width: 90%;
    }
    .content10-form input{
        /* margin: 20px 20px; */
        width: 80%;
    }
    .content10-form button{
        /* margin: 20px 20px; */
        width: 30%;
    }
    .bottom-one{
        display: flex;
        flex-direction: column;
    }
    .line-hr{
        width: 80%;
    }
    .bottom-one{
        width: 80%;
        text-align: center;
    }
    .bottom p{
        width: 100%;
        text-align: center;
        margin: 10px 40px;
        
    }
    .bottom-two a{
        margin: 0px 10px;       
        
    }
    .bottom-two{
        margin: 0px 00px 0px 90px;
        margin-bottom: 40px;
    } 

   


    
}

 







/* media Query screen size 475px*/

@media all and (max-width:970px){
    .menu-line{
        display: none;
        
    }
    .nav-list{
        display: flex; 
        flex-direction: column;
        display: none;
        position: relative;
    }
    .nav-list li{
        display: block;
        padding: 2% 0;
        text-align: center;
    }
    #closer{
        display: block;
        position: absolute;
        top: 10px ;
        right: 10px;

    }


    
}


